<h1>{{ activity.title }}
  @if (activity.recurring) {
    <mat-icon>restart_alt</mat-icon>
  }
</h1>
<p>Départ : {{ activity.start.toLocaleDateString() }} - {{ activity.start.toLocaleTimeString() }}</p>
<p>Retour : {{ activity.end.toLocaleDateString() }} - {{ activity.end.toLocaleTimeString() }}</p>
<p>Type d'activité : <ky-activity-icon [type]="activity.type"></ky-activity-icon> {{ activity.activityTypeLabel() }}</p>
@if (activity.limit) {
  <p>Limite de participants : {{ activity.limit }}</p>
}
<p class="description">{{ activity.description }}</p>
<div class="mat-elevation-z8" class="horizontal-scroll">
  <table class="full-width-table" aria-label="Participant à l'activité">
    <tbody>
      <tr class="participation">
        @if (user) {
          <th>Votre participation<br/>{{user.name}}</th>
          <td [class]="participation">
            <ky-participation-icon [type]="participation"></ky-participation-icon>
            <mat-button-toggle-group [(ngModel)]="participation" (change)="participate(participation)" aria-label="Type de participation">
              <mat-button-toggle [value]="ParticipationType.Oui" class="oui">
                <mat-icon class="oui">check</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="ParticipationType.Non" class="non">
                <mat-icon>close</mat-icon>
              </mat-button-toggle>
              <br/>
              <mat-button-toggle [value]="ParticipationType.PeutEtre" class="peutEtre">
                <mat-icon>change_circle</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="ParticipationType.NonRepondu" class="nonRepondu">
                <mat-icon>question_mark</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="ParticipationType.Coordinator" class="coordinator">
                <mat-icon>manage_accounts</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="ParticipationType.Security" class="security">
                <mat-icon>security</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
          </td>
        } @else {
          <th>Participer !</th>
          <td>
            <a mat-raised-button color="primary" class="full-width" routerLink="/login">Se connecter ou créer un compte</a>
          </td>
        }
      </tr>
      @for (participation of others; track participation.participant.id) {
        <tr>
          <th class="user">
            <div class="row">
              <span class="full-width">{{ participation.participant.name }}</span>
              @if (user) {
                <!-- à restraindre aux membres du codir / organisateur de l'évènement. Déporter sur la page évènement -->
                <!-- <button
                  type="button"
                  aria-label="Voir le mail"
                  mat-icon-button
                  (click)="showData(participant, 'email')">
                  <mat-icon aria-label="mail">email</mat-icon>
                </button> -->
                <!-- <button
                  type="button"
                  aria-label="Voir le numero de téléphone"
                  mat-icon-button
                  (click)="showData(participant, 'phone')">
                  <mat-icon aria-label="téléphone">phone</mat-icon>
                </button> -->
              }
            </div>
          </th>
          <td [class]="participation.type">
            <ky-participation-icon [type]="participation.type"></ky-participation-icon>
          </td>
        </tr>
      }
      <tr class="footer">
        <th>Total</th>
        <th>{{ total.ouiLike }} (+{{ total.peutEtre }})</th>
      </tr>
    </tbody>
  </table>
</div>
