:host {
  display: block;
  margin: 4px;
}

.description {
  white-space: pre-line;
  text-align: justify;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: solid black;
}

th {
  border-right-style: solid;
}

th.user .row {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 4px;
}

.footer th {
  border-top: 2px solid black;
}

td {
  text-align: center;
}

tr.participation {
  min-height: 100px;
  height: 100px;
}

tr.participation, tr.participation th, tr.participation td {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

mat-button-toggle-group {
  flex-wrap: wrap;
  max-width: 100px;
}

.participation td mat-button-toggle-group {
  display: none;
}

.participation td:hover mat-icon.display {
  display: none;
}

.participation td:hover mat-button-toggle-group {
  display: inline-flex;
}
