<h1>Kayakons</h1>

<h2>À propos</h2>

<p>
  Kayakons sert à organiser des sorties en groupe.
  La plateforme prend en charge des évènements récurrents comme ponctuels.
  Les utilisateurs authentifiés peuvent indiquer leur participation à ces évènements.
</p>

<p>La plateforme est développée et maintenue par Damien Reimert. Pour toutes demandes : <a href="mailto:contact@kayakons.ovh">contact&#64;kayakons.ovh</a></p>

<h2>Conditions d'utilisation</h2>

<p>
  Kayakons utilise votre nom, mail et numéro de téléphone.
  Ces données peuvent être affichées à d'autres utilisateurs dans le cadre des usages de la plateforme.
</p>

<p>Ces données ne sont pas commercialisées ni envoyées à des entreprises.</p>

<h3>Nom</h3>

<p>
  Votre nom apparait dans tous les agendas et évènements auxquels vous participez.
  Il est visible de l'ensemble des utilisateurs qui consultent ces agendas ou évènements.
  Il peut aussi être des mails de notification, en cas de consultation d'un numéro de téléphone par exemple.
</p>

<h3>Numéro de téléphone</h3>

<p>
  Par défaut, votre numéro de téléphone n'est pas visible des autres utilisateur.
  Un utilisateur peut consulter votre numéro de téléphone mais cela requière une action de sa part.
  Quand un utilisateur consulte votre numéro de téléphone vous en êtes notifié par mail.
</p>

<h3>Mail</h3>

<p>
  Votre mail fait office d'identifiant.
  Il permet aussi de vous notifier de la consultation de votre numéro de téléphone et de la modification d'évènements auxquels vous participez.
</p>