<div class="mat-elevation-z8">
  <table class="full-width-table" aria-label="Elements">
    <tbody>
      <tr>
        <th></th>
        @for (month of months; track month.key) {
          <th [attr.colspan]="month.quantity">{{month.display}}</th>
        }
      </tr>
      <tr>
        <th></th>
        @for (day of days; track day.key) {
          <th [attr.colspan]="day.quantity">{{day.display}}</th>
        }
      </tr>
      <tr>
        <th></th>
        @for (hour of hours; track hour.key) {
          <th [attr.colspan]="hour.quantity">{{hour.display}}</th>
        }
      </tr>
      <tr>
        <th></th>
        @for (activite of activites; track activite.id) {
          @if (activite.type === ActivityType.Kmer) {
            <th>
              <mat-icon>kayaking</mat-icon>
            </th>
          }
          @if (activite.type === ActivityType.Piscine) {
            <th>
              <mat-icon>pool</mat-icon>
            </th>
          }
          @if (activite.type === ActivityType.Musculation) {
            <th>
              <mat-icon>fitness_center</mat-icon>
            </th>
          }
          @if (activite.type === ActivityType.EauVive) {
            <th>
              <mat-icon>waves</mat-icon>
            </th>
          }
        }
      </tr>
      <tr  class="participation">
        <th>Votre participation</th>
        @for (participation of participations; track participation.id) {
          <td class="participation" [class]="participation.type">
            @switch (participation.type) {
              @case (ParticipationType.Oui) {
                <mat-icon class="oui display">check</mat-icon>
              }
              @case (ParticipationType.Non) {
                <mat-icon class="non display">close</mat-icon>
              }
              @case (ParticipationType.PeutEtre) {
                <mat-icon class="peutEtre display">change_circle</mat-icon>
              }
              @default {
                <mat-icon class="unknown display">question_mark</mat-icon>
              }
            }
            <mat-button-toggle-group [(ngModel)]="participation.type" aria-label="Type de participation">
              <mat-button-toggle [value]="ParticipationType.Oui" class="oui">
                <mat-icon class="oui">check</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="ParticipationType.Non" class="non">
                <mat-icon>close</mat-icon>
              </mat-button-toggle>
              <br/>
              <mat-button-toggle [value]="ParticipationType.PeutEtre" class="peutEtre">
                <mat-icon>change_circle</mat-icon>
              </mat-button-toggle>
              <mat-button-toggle [value]="ParticipationType.NonRepondu" class="unknown">
                <mat-icon>question_mark</mat-icon>
              </mat-button-toggle>
            </mat-button-toggle-group>
            <!-- <mat-form-field>
              <mat-select [(ngModel)]="participation.type">
                <mat-option [value]="ParticipationType.Oui">Oui</mat-option>
                <mat-option [value]="ParticipationType.Non">Non</mat-option>
                <mat-option [value]="ParticipationType.PeutEtre">Peut-être</mat-option>
                <mat-option [value]="ParticipationType.NonRepondu"></mat-option>
              </mat-select>
            </mat-form-field> -->
          </td>
        }
      </tr>
      @for (participant of participants; track participant.id) {
        <tr>
          <th>{{participant.name}}</th>
          @for (activite of activites; track activite.id) {
            @switch (findParticipation(activite, participant)) {
              @case (ParticipationType.Oui) {
                <td class="oui">
                  <mat-icon class="oui">check</mat-icon>
                </td>
              }
              @case (ParticipationType.Non) {
                <td class="non">
                  <mat-icon class="non">close</mat-icon>
                </td>
              }
              @case (ParticipationType.PeutEtre) {
                <td class="peutEtre">
                  <mat-icon class="peutEtre">change_circle</mat-icon>
                </td>
              }
              @default {
                <td>
                  <mat-icon class="unknown">question_mark</mat-icon>
                </td>
              }
            }
          }
        </tr>
      }
    </tbody>
  </table>
</div>
