<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>{{ (clubService.club$ | async)?.name }}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/agenda" routerLinkActive="active">
        <mat-icon matListItemIcon>calendar_month</mat-icon>
        <div matListItemTitle>Agenda</div>
      </a>
      <a mat-list-item routerLink="/nouvelle-activite" routerLinkActive="active">
        <mat-icon matListItemIcon>add</mat-icon>
        <div matListItemTitle>Créer une activité</div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/profile" routerLinkActive="active">
        <mat-icon matListItemIcon>person</mat-icon>
        <div matListItemTitle>Profil</div>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon matListItemIcon>info</mat-icon>
        <div matListItemTitle>À propos</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <!-- @if (isHandset$ | async) { -->
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      <!-- } -->
      <span>Kayakons !</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
