<p>Entrer une adresse mail valide. Un mail vous sera envoyé avec un lien de connexion. Le lien sera valide 2 jours.</p>
<p>En plus de l'adresse mail, vous devez accepter les conditions d'utilisations. Aucune donnée n'est revendu ou envoyé à des entreprises.</p>

<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <mat-form-field class="flex">
    <mat-icon matPrefix>mail</mat-icon>
    <mat-label>Mail</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. damien@example.com">
    @if (loginForm.get('email')?.hasError('email') && !loginForm.get('email')?.hasError('required')) {
      <mat-error>Merci d'entrer un mail valide</mat-error>
    }
    @if (loginForm.get('email')?.hasError('required')) {
      <mat-error>Le mail est <strong>obligatoire</strong></mat-error>
    }
  </mat-form-field>
  <p>Conditions d'utilisation : <a href="/about">à propos</a></p>
  <mat-checkbox formControlName="cgu">J'accepte les conditions générales d'utilisations<sup>*</sup></mat-checkbox>
  <button class="flex" mat-raised-button color="primary" [disabled]="!loginForm.valid" type="submit">Envoyer</button>
</form>

@if (login$ | async; as login) {
  @if (login.success) {
    <p class="padding">Un mail a été envoyé. Vous pouvez fermer cette page.</p>
    <p class="padding">Vous devez cliquer sur le lien dans le mail pour vous connecter.</p>
  } @else {
    <p class="padding">Une erreur est survenue. Merci de réessayer plus tard ou de contacter le support technique.</p>
  }
}