<p>Votre nom sera affiché lors de votre participation à un évènement.</p>
<p>Votre numéro de téléphone n'est pas afficher par défaut. Un utilisateur authentifié peut choisir de le regarder en cas d'urgence ou pour des besoins d'organisation mais vous en serez notifié.</p>
<p>Vous devez saisir votre numéro de téléphone au format international en commençant par +33 pour les numéros français. Il ne doit pas y avoir d'espace.</p>
<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
  <mat-form-field class="flex">
    <mat-icon matPrefix>person</mat-icon>
    <mat-label>Nom</mat-label>
    <input type="text" matInput formControlName="name" placeholder="Jean Dupont">
    @if (profileForm.get('name')?.hasError('required')) {
      <mat-error>Le nom est <strong>obligatoire</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field class="flex">
    <mat-icon matPrefix>phone</mat-icon>
    <mat-label>Téléphone</mat-label>
    <input type="tel" matInput formControlName="phone" placeholder="+33654321098">
    @if (profileForm.get('phone')?.hasError('required')) {
      <mat-error>Le téléphone est <strong>obligatoire</strong></mat-error>
    }
    @if (profileForm.get('phone')?.hasError('pattern')) {
      <mat-error>Le téléphone doit commencer par + suivi du code pays et sans espace.</mat-error>
    }
  </mat-form-field>
  <button class="flex" mat-raised-button color="primary" [disabled]="!profileForm.valid" type="submit">Sauvegarder</button>
</form>


@if (profile$ | async; as profile) {
  <p class="padding">Votre profile a été mise à jour avec success !</p>
  <a mat-raised-button color="primary" class="flex" href="/agenda">Voir l'agenda !</a>
}