<p class="bienvenue">Bienvenue dans l'agenda des sorties !</p>

<div class="mat-elevation-z8" class="horizontal-scroll">
  <table class="full-width-table" aria-label="Agenda du club">
    <tbody>
      <tr class="headers">
        <th rowspan="5">
          <mat-form-field>
            <mat-label>Filtre</mat-label>
            <mat-select [formControl]="filter">
              @for (filter of filters; track $index) {
                <mat-option [value]="filter">
                  <mat-icon>{{ filter.icon }}</mat-icon>
                  {{ filter.label }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </th>
        @for (month of (headers$ | async)?.months; track month.key) {
          <th [attr.colspan]="month.quantity">{{month.display}}</th>
        }
      </tr>
      <tr class="headers">
        @for (day of (headers$ | async)?.days; track day.key) {
          <th [attr.colspan]="day.quantity">{{day.display}}</th>
        }
      </tr>
      <tr class="headers">
        @for (hour of (headers$ | async)?.hours; track hour.key) {
          <th [attr.colspan]="hour.quantity">{{hour.display}}</th>
        }
      </tr>
      <tr class="headers">
        @for (activite of activites$ | async; track activite.id) {
          <th>
            @if (activite.recurring) {
              <mat-icon class="small-icon">restart_alt</mat-icon>
            } @else {
              <mat-icon class="small-icon">star</mat-icon>
            }
            <!-- <mat-icon class="small-icon">warning</mat-icon>
            <mat-icon class="small-icon">cancel</mat-icon> -->
          </th>
        }
      </tr>
      <tr class="headers">
        @for (activite of activites$ | async; track activite.id) {
          <th>
            <a mat-icon-button [routerLink]="['/activity', activite.id]">
              <ky-activity-icon [type]="activite.type"></ky-activity-icon>
            </a>
          </th>
        }
      </tr>
      <tr class="participation">
        @if (user) {
          <th>Votre participation<br/>{{user.name}}</th>
          @for (myParticipation of authUserParticipations$ | async; track myParticipation.activity) {
            <td class="participation reverse" [class]="myParticipation.type">
              <ky-participation-icon [type]="myParticipation.type"></ky-participation-icon>
              <mat-button-toggle-group [(ngModel)]="myParticipation.type" (change)="updateParticipation(myParticipation)" aria-label="Type de participation">
                @for (type of ParticipationTypeLabelsList; track type.value) {
                  <mat-button-toggle [value]="type.value" [class]="type.value">
                    <mat-icon>{{ type.icon }}</mat-icon>
                  </mat-button-toggle>
                }
              </mat-button-toggle-group>
            </td>
          }
        } @else {
          <th>Participer !</th>
          <td [attr.colspan]="(activites$ | async)?.length">
            <a mat-raised-button color="primary" class="full-width" routerLink="/login">Se connecter ou créer un compte</a>
          </td>
        }
      </tr>
      @for (participant of othersUserParticipations$ | async; track participant.id) {
        <tr>
          <th class="user">
            <div class="row">
              <span class="full-width">{{participant.name}}</span>
              @if (user) {
                <!-- à restraindre aux membres du codir / organisateur de l'évènement. Déporter sur la page évènement -->
                <!-- <button
                  type="button"
                  aria-label="Voir le mail"
                  mat-icon-button
                  (click)="showData(participant, 'email')">
                  <mat-icon aria-label="mail">email</mat-icon>
                </button> -->
                <button
                  type="button"
                  aria-label="Voir le numero de téléphone"
                  mat-icon-button
                  (click)="showData(participant, 'phone')">
                  <mat-icon aria-label="téléphone">phone</mat-icon>
                </button>
              }
              </div>
            </th>
            @for (participation of participant.participations; track $index) {
              <td [class]="participation" class="reverse">
                <ky-participation-icon [type]="participation"></ky-participation-icon>
              </td>
            }
        </tr>
      }
      <tr class="footer">
        <th>Total</th>
        @for (total of totaux$ | async; track total.activity) {
          <th>{{ total.ouiLike }} (+{{ total.peutEtre }})</th>
        }
      </tr>
    </tbody>
  </table>
</div>
<p>Légende :</p>
<div class="legende">
  <ul>
    @for (participation of ParticipationTypeLabelsList; track participation.value) {
      <li><mat-icon class="{{ participation.value }}">{{ participation.icon }}</mat-icon> : {{ participation.explain }}</li>
    }
  </ul>
  <ul>
    @for (type of ActivityTypeLabelsList; track type.value) {
      <li><mat-icon>{{ type.icon }}</mat-icon> : {{ type.label }}</li>
    }
    <li><mat-icon>interests</mat-icon> : Autres disciplines</li>
  </ul>
  <ul>
    <li>
      <mat-icon>restart_alt</mat-icon> : Activité récurrente
    </li>
    <li>
      <mat-icon>star</mat-icon> : Activité ponctuelle
    </li>
    <li>
      <mat-icon>warning</mat-icon> : Problème (niveau d'eau, météo, etc.)
    </li>
    <li>
      <mat-icon>cancel</mat-icon> : Activité annulée
    </li>
  </ul>
</div>

<p>Astuces :</p>
<ul>
  <li>Cliquez sur le logo d'une activité pour avoir plus de détails sur celle-ci.</li>
  <li>Cliquez sur le burger à coté de "Kayakons !" pour ouvrir le menu.</li>
  <li>Vous pouvez modifier votre profil dans le menu.</li>
  <li>Vous pouvez créer une nouvelle activité dans le menu</li>
  <li>Vous pouvez filtrer les activités en cliquant sur le filtre en haut à gauche.</li>
  <li>Se mettre en <mat-icon class="peutEtre">swap_vert</mat-icon> permet de recevoir des notifications et rappels.</li>
</ul>