// :host {
//   position: sticky;
//   top: 65px;
// }

p {
  margin: 8px;
}

.horizontal-scroll {
  display: block;
  overflow-x: scroll;
  overflow-y: scroll;
  padding-bottom: 10px;
}

// .full-width-table {
//   width: 100%;
// }

table {
  // position: sticky;
  border: solid black;
  border-collapse: separate;
  border-spacing: 0;
  // overflow: hidden;
  // top: 64px;
  // z-index: 1;
}

tbody {
  display: block;
  // overflow-x: hidden;
}

th {
  border-right-style: solid;
  background-color: #fafafa;
}

th.sticky {
  position: sticky;
  z-index: 1;
}

th.top-1 {
  top: 0px;
}

th.top-2 {
  top: 42px;
}

th.top-3 {
  top: 84px;
}

th.top-4 {
  top: 106px;
}

th.top-5 {
  top: 138px;
}

th.left-1 {
  left: 0px;
  z-index: 2;
}

th.top-1.left-1 {
  z-index: 3;
}

.small-icon {
  transform: scale(0.6);
}

th.user {
  min-height: 50px;
  height: 53px;
}

td {
  min-width: 53px;
  width: 53px;
}

td:nth-child(even) {
  background-color: #f2f2f2;
}

.footer th {
  border-top: 2px solid black;
}

td {
  text-align: center;
}

tr.participation {
  min-height: 100px;
  height: 100px;
}

tr.participation, tr.participation th, tr.participation td {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

mat-button-toggle-group {
  flex-wrap: wrap;
  max-width: 100px;
}

.participation td mat-button-toggle-group {
  display: none;
}

.participation td:hover mat-icon.display {
  display: none;
}

.participation td:hover mat-button-toggle-group {
  display: inline-flex;
}

.legende {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}