/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.oui, .oui.mat-button-toggle {
  color: green;
}

.non, .non.mat-button-toggle {
  color: red;
}

.peutEtre, .peutEtre.mat-button-toggle {
  color: orange;
}

.coordinator, .coordinator.mat-button-toggle {
  color: cornflowerblue;
}

.security, .security.mat-button-toggle {
  color: blue;
}

.nonRepondu, .nonRepondu.mat-button-toggle {
  color: black;
}

mat-button-toggle.oui.mat-button-toggle-checked, .oui.reverse, .reverse .oui {
  color: white;
  background-color: green;
}

mat-button-toggle.non.mat-button-toggle-checked, .non.reverse, .reverse .non {
  color: white;
  background-color: red;
}


mat-button-toggle.peutEtre.mat-button-toggle-checked, .peutEtre.reverse, .reverse .peutEtre {
  color: white;
  background-color: orange;
}

mat-button-toggle.coordinator.mat-button-toggle-checked, .coordinator.reverse, .reverse .coordinator {
  color: white;
  background-color: cornflowerblue;
}

mat-button-toggle.security.mat-button-toggle-checked, .security.reverse, .reverse .security {
  color: white;
  background-color: blue;
}

mat-button-toggle.nonRepondu.mat-button-toggle-checked, .nonRepondu.reverse, .reverse .nonRepondu {
  color: black;
  background-color: white;
}