/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.oui, .oui.mat-button-toggle {
  color: #269f26;
}

.non, .non.mat-button-toggle {
  color: #f44336;
}

.peutEtre, .peutEtre.mat-button-toggle {
  color: #fbb432;
}

.coordinator, .coordinator.mat-button-toggle {
  color: cornflowerblue;
}

.security, .security.mat-button-toggle {
  color: #4e4eff;
}

.nonRepondu, .nonRepondu.mat-button-toggle {
  color: black;
}

mat-button-toggle.oui.mat-button-toggle-checked, .oui.reverse, .oui.reverse:nth-child(even), .reverse .oui {
  color: #fafafa;
  background-color: #269f26;
}

mat-button-toggle.non.mat-button-toggle-checked, .non.reverse, .non.reverse:nth-child(even), .reverse .non {
  color: #fafafa;
  background-color: #f44336;
}


mat-button-toggle.peutEtre.mat-button-toggle-checked, .peutEtre.reverse, .peutEtre.reverse:nth-child(even), .reverse .peutEtre {
  color: #fafafa;
  background-color: #fbb432;
}

mat-button-toggle.coordinator.mat-button-toggle-checked, .coordinator.reverse, .coordinator.reverse:nth-child(even), .reverse .coordinator {
  color: #fafafa;
  background-color: cornflowerblue;
}

mat-button-toggle.security.mat-button-toggle-checked, .security.reverse, .security.reverse:nth-child(even), .reverse .security {
  color: #fafafa;
  background-color: #4e4eff;
}

.nonRepondu.reverse, .reverse .nonRepondu {
  color: black;
  background-color: #fafafa00;
}

mat-button-toggle.nonRepondu.mat-button-toggle {
  color: black;
  background-color: #fafafa;
}

.vert {
  color: green!important;
}

.bleu {
  color: blue!important;
}

.rouge {
  color: red!important;
}

.noir {
  color: black!important;
}